@import url('../css/fonts.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
       
html,
body {
    margin: 0;
    padding:0;
    overflow-x: hidden;
}

:root {

    /*      Theme colors        */
    --text-gray: #17181a;
    --text-light: #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #406bf8;

    /* gradient color   */
    --sky: linear-gradient(120deg,#c2e9fb  0%,#176bf1  100%);
    --fusion:linear-gradient(to right,#f61111,#f5e619);
    --purple:linear-gradient(120deg,#a020f0 0%,#d580ff 100%);
    --smart:linear-gradient(to right,#4ee2fc 0%,#5a70f0 50%,#1102e0 100%);
    
}


/* ---------------- Global Classes ---------------*/

a {
    text-decoration: none;
    color: var(--text-gray);
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
    padding: 0;
}

h3 {
    font-size: 1.3rem;
}

button.btn {
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Livvic);
    cursor: pointer;
}

span {
    font-family: var(--Abel);
}


.text-gray {
    color: var(--text-gray);
}

p {
    font-family: 'Roboto', sans-serif;
}

main {
    margin-top: 11.9vh;
    padding: 0px;
    padding-bottom: 0;
}

/* ------x------- Global Classes -------x-------*/

/* --------------- navbar ----------------- */

nav {
    transition: top 0.3s;
    background-color: #FFFDD0;
    position: fixed;
    z-index: 150;
    border-bottom:1px solid black;
    width:100%;
}
nav h1{
    font-size:5vh;
    margin:0% auto;
    padding-top:5px;
    background:var(--smart);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.fa-book{
    background:var(--purple);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.topics{
    display:none;
    position: absolute;
    min-width: 150px;
    margin-left:-2vh;
    margin-top: 1.2vh;
}
.topics a {
    width:15vw;
    color: white;
    background-color: rgb(160, 230, 56);
    float: none;
    padding: 3%;
    text-decoration: none;
    display: block;
    border:1.2px solid black;
    text-align:center;
  }
.topics a:hover{
    color:black;
    background-color:rgb(248, 246, 246)
}

.dropdown:hover .topics{
    height:45vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

nav ul li:hover{
    background-color: var(--midnight);
    color: white;
}
#checkbox{
    display: none;
}

#home-icon{
    text-align: center;
}

.fa-home{
    font-size:6vh;
    padding-top:2vh;
}

 @keyframes right-to-left-slide-effect {
        from{
            left: 100%;
        }
        to{
            left: 40%;
        }
    }

 @keyframes left-to-right-slide-effect {
        from{
            right: 100%;
        }
        to{
            right: 40%;
        }
    }
/* -------x------- navbar ---------x------- */


/* ----------------- Main Content----------- */

/* --------------- Site title ---------------- */
main .site-title .site-background {
    background: url('../assets/Background/home background.jpg') no-repeat;
    background-size: 100% 100%;
    padding: 11% 38% 10% 5%; 
}
.site-background-ed{
    background: url('../assets/Background/education.jpg') no-repeat;
    background-size: 100% 100%;
    padding: 11% 0 25% 5%;   
}
.site-background-te{
    background: url('../assets/Background/tech.jpg') no-repeat;
    background-size: 100% 100%;
    padding: 11% 0 25% 5%;     
}
.site-background-na{
    background: url('../assets/Background/national.jpg') no-repeat;
    background-size: 100% 100%;
    padding: 11% 0 25% 5%;    
}
.site-background-in{
    background: url('../assets/Background/international.jpg') no-repeat;
    background-size: 100% 100%;
    padding: 11% 0 25% 5%;    
}
.site-background-ca{
    background: url('../assets/Background/career.jpg') no-repeat;
    background-size: 100% 100%;
    padding: 11% 0 25% 5%;   
}
.site-background-li{
    background: url('../assets/Background/life guidance.jpg') no-repeat;
    background-size: 100% 100%;
    padding: 11% 0 25% 5%;    
}
.site-background-en{
    background: url('../assets/Background/environment.jpg') no-repeat;
    background-size: 100% 100%;
    padding: 11% 0 25% 5%;   
}
.site-background-bu{
    background: url('../assets/Background/business.jpg') no-repeat;
    background-size: 100% 100%;
    padding: 11% 0 25% 5%;     
}


main .site-title h1{
    background:var(--fusion);
    margin-bottom: 0;
    font-size: 8vh;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
main .site-title h3{
    margin:0.1rem;
}

main .site-title .btn {
    margin: 1.5rem;
    margin-left: 0%;
    background: greenyellow;
    border: 1px solid transparent;
}

main .site-title .btn:hover {
    background: rgb(9, 94, 231);
    border: 1px solid white;
    font-weight: 700;
    color: white;
}

/* --------x------ Site title --------x------- */


/* ---------------- Site Content ----------------*/

main .latest-post{
    font-size: larger;
    padding-left:3%;
    padding-top:4%;
    text-decoration: underline;
}
main .site-content {
    display: grid;
    grid-template-columns: 35% 35% 24%;
    justify-content: space-around;
}


main .site-content .post-content>.post-image,
.post-title {
    padding: 0.2rem;
    position: relative;
}

main .post-content>.post-image .post-info {
    background: var(--fusion);
    position: absolute;
    padding:0.1em;
    bottom: 0%;
    left:9%;
    border-radius: 2rem;
}
hr{
    height:1.8px;
    background: black;
    margin:3vh 0;
}

main .site-content .home-posts .post-content{
    background-color:rgb(175, 219, 236);
    border-radius: 7%;
    padding: 3%;
}
main .site-content .post-content>.post-image>div {
    overflow: hidden;
}

main .site-content .home-posts .post-content>.post-image .img {
    width: 100%;
    height:200px;
    transition: all 0.5s ease;
}
main .site-content .page-posts .post-content img{
    height:400px;
}

main .site-content .post-content>.post-image .img:hover {
    transform: scale(1.1);
}

main .site-content .post-content>.post-image .post-info span {
    margin: 0.2rem;
}

main .post-content .post-title a {
    font-family: var(--Anton);
    font-size: 1.2rem;
    font-weight: 700;
}

main .post-content .post-title p{
    margin:0.5%;
}

.site-content .post-content .post-title .post-btn {
    border-radius: 0;
    margin-top: 3%;
    padding: .5rem 0.6rem;
    background: var(--purple);
}

.site-content .pagination {
    justify-content: center;
    color: var(--text-gray);
    margin: 4rem 0;
}

.site-content .pagination a {
    padding: .6rem .9rem;
    border-radius: 2rem;
    margin: 0 .3rem;
    font-family: var(--Lexend);
}
.site-content .pagination a:hover {
    background: rgb(23, 228, 211);
}

.site-content .pagination .pages {
    background: var(--text-gray);
    color: var(--white);
}




/* -------x-------- Site Content --------x-------*/


/* --------------- Sidebar ----------------------- */
.sidebar h2{
    margin-top: 0%;
}
.site-content>.sidebar .category-list {
    font-family: var(--Livvic);
}

.site-content>.sidebar .category-list .list-items {
    background: var(--sky);
    padding: .4rem .5rem;
    margin: .8rem 0;
    border-radius: 3rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.site-content>.sidebar .category-list .list-items a {
    color: black;
}

.site-content .sidebar .popular-post .post-content {
    padding: 0.5rem 0;
    margin:2.5% 0.5%;
    border-radius: 5%;
    background-color: #FFE5B4;
}

.site-content .sidebar .popular-post h2 {
    padding-top: 2rem;
}

.site-content .sidebar>.popular-post .post-info {
    padding: 0%;
    left: 0.3rem;
    border-radius: 0rem;
    background: rgb(255, 253, 140);
    bottom:0.6rem;
}

.site-content .sidebar .popular-post .post-title a {
    font-size: 1rem;
}



/* -------x------- Sidebar -----------x----------- */



/* --------------- Blog Carousel ------------ */
main .carousal h1{
    width:fit-content;
    background-color: #8ff31d;
    color: white;
    border:1px solid black;
    padding:1%;
}
main .carousal {
    padding:2% 0% 0% 4%;
}

main .carousal-post .carousal-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 92%;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
}

main .carousal-content img {
    height: 50vh;
    border-bottom: 1px solid black;
}



main .carousal-content .btn-blog {
    padding: 0.3rem 2rem;
    background: var(--sky);
    margin:2% 0;
}

main .carousal-content span {
    display: block;
}

section .owl-nav {
    margin-left: -2%;
    width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next {
    color: var(--text-gray);
    background: transparent;
    font-size: 2rem;
    margin:0%;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background: transparent;
    color: var(--midnight);
}

.owl-theme .owl-nav [class*='owl-'] {
    outline: none;
}
/* -------x------- Blog Carousel -----x------ */


/* ---------x-----------Main Content--------------x----- */



/* ----------------- Footer --------------------- */
footer{
    height: fit-content;
    margin-top: 0;
}
footer.footer {
    background: var(--bg-color);
}

footer.footer .container {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 2fr;
}

footer.footer .container h2 {
    color: var(--white);
}

footer.footer .newsletter .form-element {
    width:90%;
    background: black;
    padding: 0.2rem 0rem;
    display: inline-block;
    height: 2rem;
}

footer.footer .newsletter .form-element input {
    width:85%;
    border: none;
    background: transparent;
    color: white;
    font-family: var(--Josefin);
    font-size: 1rem;
    height: 1.9rem;

}

footer.footer .newsletter .form-element span {
    background: var(--sky);
    padding: .45rem .6rem;
    cursor: pointer;
}

footer.footer .follow div i {
    color: var(--white);
    padding: 0 .4rem;
}

footer.footer .rights {
    justify-content: center;
    font-family: var(--Josefin);
}

footer.footer .rights h4 a {
    color: var(--white);
}
footer.footer .footer-topics h4{
    display:inline-block;
    width:49%;
    margin:2.5% 0%;
}

footer.footer .move-up {
    position: absolute;
    right: 6%;
    top: 50%;
}

footer.footer .move-up span {
    color: var(--midnight);
}

footer.footer .move-up span:hover {
    color: var(--white);
    cursor: pointer;
}

footer.footer p,
h4 {
    color: white;
}

.subscribe{
    width: 70%;
}
/*---------x------- Footer ----------x---------- */






/*              Viewport less then or equal to 1000px            */

@media only screen and (max-width: 1000px) {
    
    #home-icon{
        grid-column-start: 4;
    }
    .active{
        display:block;
    }
  
    .dropdown:hover .topics{
         height:36vh;
    }

    main .site-title .site-background {
        padding:2%;
    }
    main .site-title h1{
        font-size:6vh;
        margin-top:5vh;
    }
    .site-content .post-content>.post-image .post-info {
        left: 2rem !important;
        bottom: 1.2rem !important;
        border-radius: 0% !important;
    }

    .site-content .sidebar .popular-post .post-info {
        display: none !important;
    }
    footer.footer .container{
        grid-template-columns: 1fr 1fr;
    }

    
}

/*      x       Viewport less then or equal to 1000px    x     */


/*              Viewport less then or equal to 768px            */

@media only screen and (max-width: 768px) {
    main .site-content {
        grid-template-columns: 96%;
    }
    p{
        font-size: smaller;
    }
}


/*        x      Viewport less then or equal to 768px       x     */


/*              Viewport less then or equal to 520px            */

@media only screen and (max-width: 520px) {
   
    main .blog {
        height: 110vh;
    }

    .site-content .post-content>.post-image .post-info {
        display: none;
    }
    main .site-content .home-posts .post-content>.post-image .img{
        height:220px;
    }
    footer.footer .container{
        grid-template-columns: 1fr;
    }
    footer .rights {
        padding: 0 1.4rem;
        text-align: center;
    }
}

/*----------x-----Viewport less then or equal to 520px----x---*/
